<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Function drawer</title>

    <link rel='stylesheet' href="{{ url_for('static', filename = 'css/index.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    {% if image_path %}
        <img src="{{ image_path }}"
            class='rounded border d-block mx-auto plot'>
        <div class='w-100 p-1 text-center'>
            <a href='/' class='btn btn-primary'>try agian</a>
        </div>
    {% else %}
        <form action='/' method='post' class='mx-auto m-0 p-3 border spline-form'>
            <div class='alert alert-info text-center m-2'>
                Enter a, b, c, d parameters for<br> y = ax^3+bx^2+cx+d function
            </div>
            <div class='row w-100 m-0 p-0'>
                <div class='col-sm-6 m-0 p-0'>
                    <div>First function:</div>
                    <div class='p-1 m-0'>
                        <div class='p-2'>
                            <label for='a1'>a: </label>
                            <input type='number' name='a1' id='a1' value='0' required>
                        </div>
                        
                        <div class='p-2'>
                            <label for='b1'>b: </label>
                            <input type='number' name='b1' id='b1' value='0' required>
                        </div>
                        
                        <div class='p-2'>
                            <label for='c1'>c:</label>
                            <input type='number' name='c1' id='c1' value='0' required>
                        </div>
                        
                        <div class='p-2'>
                            <label for='d1'>d:</label>
                            <input type='number' name='d1' id='d1' value='0' required>
                        </div>
                    </div>
                </div>
                <div class='col-sm-6 m-0 p-0'>
                    <div>Second function:</div>
                    <div class='p-1 m-0'>
                        <div class='p-2'>
                            <label for='a2'>a: </label>
                            <input type='number' name='a2' id='a2' value='0' required>
                        </div>
                        
                        <div class='p-2'>
                            <label for='b2'>b: </label>
                            <input type='number' name='b2' id='b2' value='0' required>
                        </div>
                        
                        <div class='p-2'>
                            <label for='c2'>c:</label>
                            <input type='number' name='c2' id='c2' value='0' required>
                        </div>
                        
                        <div class='p-2'>
                            <label for='d2'>d:</label>
                            <input type='number' name='d2' id='d2' value='0' required>
                        </div>
                    </div>
                </div>
            </div>
            <div class='w-100 p-1 text-center'>
                <button type='submit' class='btn btn-primary py-1'>draw</button>
            </div>
        </form>
    {% endif %}
    
</body>
</html>